
body {
	 font-family: 'Open Sans', sans-serif;
}

#content, #entrada {
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

h1 {
	color: #27AE60;
	font-size: 2em;
	padding: 10px;
}

h3 {
    color: #F6F7F9;
}

textarea {
	background-color: #F6F7F9;
	margin-top: 10px;
	width: 100%;
    resize: none;
    min-height: 200px;
	height: auto;
    overflow-y: hidden;
	padding: 10px;
	text-transform: uppercase;
	margin-top: 10px;
  	outline: none;
  	border: 0;
  	border-radius: 3px;	
  	font-size: 0.9em;
}

input[type=date] {
	padding: 5px;
	width: 150px;
	text-transform: uppercase;
	margin-top: 10px;
  	outline: none;
  	border: 0;
  	border-radius: 3px;
}